@charset "UTF-8";
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.main-container {
  width: 1200px;
  margin: 0 auto;
}

.container {
  width: 960px;
  margin: 0 auto;
}

.header {
  background-color: #000;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 29px;
}

.header__list {
  width: 687px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__link {
  font-family: 'PT Sans Narrow', sans-serif;
  color: #ffffff;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.4;
  text-transform: uppercase;
}

.header__login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__link_login {
  display: inline-block;
  margin-left: 15px;
}

.header__subheader {
  height: 490px;
  background: url("../img/header-background.png") center center/cover no-repeat;
}

.header__logo {
  display: block;
  margin: 0 auto;
  padding-top: 55px;
}

.header__low-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.column__item {
  width: 320px;
  height: 160px;
}

.column__item_white {
  background: #fff;
}

.column__item_gray-dark {
  background: #404040;
}

.column__item_gray-white {
  background: #4e4e4e;
}

.column__wrapper {
  margin-left: 37px;
  padding-top: 32px;
}

.column__text {
  color: #ffffff;
  font-size: 72px;
  font-weight: 600;
}

.column__text_white {
  color: #000000;
  font-size: 40px;
  font-weight: 600;
}

.column__subtext {
  margin-top: 5px;
  color: #f7f4f1;
  font-size: 20px;
  font-weight: 400;
}

.arrow-down {
  position: absolute;
  top: 37px;
  left: -20px;
  width: 0;
  height: 0;
  border-left: 20px solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #fff;
}
