@import 'reset';

body {
	font-family: 'PT Sans Narrow', sans-serif;
}

.container {
	width: 960px;
	margin: 0 auto;
}

.header {
	width: 1200px;
	margin: 0 auto;
	background-color: #000;
	// .header__row
	&__row {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 29px;
	}
	// .header__nav
	&__nav {
	}
	// .header__list
	&__list {
		width: 687px;
		display: flex;
		justify-content: space-between;
	}
	// .header__item
	&__item {
	}
	// .header__link
	&__link {
		font-family: 'PT Sans Narrow', sans-serif;
		color: #ffffff;
		font-size: 18px;
		font-weight: 400;
		line-height: 1.4;
		text-transform: uppercase;
	}
	// .header__login
	&__login {
		display: flex;
		align-items: center;
	}
	// .header__image
	&__image {
	}
	// .header__link_login
	&__link_login {
		display: inline-block;
		margin-left: 15px;
	}
	// .header__subheader
	&__subheader {
		height: 306px;
		background: url('../img/header-background.png') center center/cover no-repeat;
	}
	// .header__logo
	&__logo {
		display: block;
		margin: 0 auto;
		padding-top: 55px;
	}
}
